/*
*   CSS stylesheet for We Share vCard landing page.
*   Please note: this is LTR.
*   Note: the font-family Assistant is provided by:
*       <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Assistant">
*/

@font-face {
    font-family: "Walkaway";
    src: url("../fonts/Walkway/Walkway SemiBold.ttf");
}

body{
    margin: 0 auto;
    padding:0;
    background-color: #ffffff;
    font-family: "Walkaway", sans-serif;
}

/**
*   Grid Wrappers
*/
#wrapper {
    display: grid;
    /* background-color: #d4d6d7; */
    width: 100vw;
    height: 100%;          
    grid-template-rows: repeat(4,auto);
    grid-template-columns: 100vw;
    grid-gap: 0;
    overflow: hidden;
    
}

.grid-item {
    font-size: 14px;
    font-weight: 100;
    /* border: 1px solid green;        */
    display: flex;
}
#logo-bg {
    /* grid-area: content-top; */
    grid-row: 1 / span 5;
    grid-column: 1 / span 1;
    align-items: center;
    justify-content: center;
    /* min-width: 0;
    min-height: 0; */
}
#logo-bg img {
    width: 100%;
    z-index: -7;
}
#left-rect {
    grid-row: 1 / span 2;
    grid-column: 1 / span 1;
    align-items: flex-start;
    justify-content: flex-start;
}
#left-rect img {
    width: 22%;
}
#right-rect {
    grid-row: 4 / span 2;
    grid-column: 1 / span 1;
    align-items: flex-end;
    justify-content: flex-end;
}
#right-rect img {
    width: 20%;
}
#left-net {
    grid-row: 4 / span 2;
    grid-column: 1 / span 1;
    align-items: flex-end;
    justify-content: flex-start;
}
#left-net img {
    width: 60%;
    transform: scaleX(-1);
}
#right-net {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    align-items: flex-start;
    justify-content: flex-end;
}
#right-net img {
    width: 55%;
    transform: scaleY(-1);
}
#media {
    grid-row: 4 / span 2;
    grid-column: 1 / span 1;
    align-items: center;
    justify-content: center;
}

.media-rows {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;    

}
.media-row-top {
    display: flex;
    justify-content: center;
}
.media-row-bot {
    display: flex;
    justify-content: center;      
}
.wrapper-image{
    min-width: 0;
    margin: 0.4em;
}
.wrapper-image img{
    width: 40px;
    max-width: 100%; 
}

#mid {
    grid-row: 3 / span 2;
    grid-column: 1 / span 1;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 3em;
}
#mid img {
    width: 35%;
    border-radius: 50%;
}
#mid .textWrapper {
    text-align: center;
}
#mid .textWrapper-top{
    font-size: 2em;
}
#mid .textWrapper-bot{
    font-size: 1.4em;
}
#showcase {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    align-items: flex-start;
    justify-content: center;
}
#showcase .textWrapper{
    display:flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
}
#showcase .textWrapper-top{
    font-size: 2.7em;
}
#showcase .textWrapper-bot{
    font-size: 1.5em;
}

@media only screen and (min-width: 480px) {
    #wrapper {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-rows: repeat(3,auto);
        grid-template-columns: repeat(3,auto);
        grid-gap: 0;
        overflow: hidden;
        /* border: 1px solid green; */
    }
    
    .grid-item {
        display: flex;
        /* border: 1px solid green;    */
        font-weight: 100;     
    }

    #logo-bg {
        grid-row: 1 / span 3;
        grid-column: 1 / span 3;
        align-items: flex-start;
        justify-content: center;
        /* min-width: 0;
        min-height: 0; */
    }
    #logo-bg img {
        width: 57%;
        z-index: -7;
    }
    #left-rect {
        grid-row: 1 / span 2;
        grid-column: 1 / span 1;
        align-items: flex-start;
        justify-content: flex-start;
    }
    #left-rect img {
        width: 27%;
    }
    #right-rect {
        grid-row: 2 / span 2;
        grid-column: 3 / span 1;
        align-items: center;
        justify-content: flex-end;
    }
    #right-rect img {
        width: 30%;
    }
    #left-net {
        grid-row: 2 / span 2;
        grid-column: 1 / span 1;
        align-items: flex-end;
        justify-content: flex-start;
    }
    #left-net img {
        width: 70%;
        transform: scaleX(-1);
    }
    #right-net {
        grid-row: 1 / span 1;
        grid-column: 3 / span 1;
        align-items: flex-start;
        justify-content: flex-end;
    }
    #right-net img {
        width: 90%;
        transform: scaleY(-1);
    }
    #media {
        grid-row: 2 / span 2;
        grid-column: 2 / span 2;
        align-items: flex-end;
        justify-content: center;
    }

    .media-rows {
        position: absolute;
        display: flex;
        flex-direction: column;
        padding-left: 18vw;
        padding-bottom: 3vw;

    }
    .media-row-top {
        display: flex;
        justify-content: center;
    }
    .media-row-bot {
        display: flex;
        justify-content: center;      
    }
    .wrapper-image{
        min-width: 0;
        margin: 0.7em;
    }
    .wrapper-image img{
        width: 4vw;
        max-width: 100%; 
    }
    
    #mid {
        grid-row: 1 / span 3;
        grid-column: 2 / span 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #mid img {
        width: 35%;
        border-radius: 50%;
    }
    #mid .textWrapper-top{
        font-size: 4vw;
    }
    #mid .textWrapper-bot{
        font-size: 2vw;
    }
    #showcase {
        grid-row: 1 / span 1;
        grid-column: 1 / span 2;
        align-items: center;
        justify-content: center;
    }
    #showcase .textWrapper{
        display:flex;
        flex-direction: column;  
        align-items: center;
        justify-content: center;
        margin-right: 150px;
        margin-bottom: 150px;
    }
    #showcase .textWrapper-top{
        font-size: 5vw;
    }
    #showcase .textWrapper-bot{
        font-size: 4vw;
    }
}

@media only screen and (min-width: 1367px) {
    #wrapper {
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-rows: repeat(3,auto);
        grid-template-columns: repeat(3,auto);
        grid-gap: 0;
        overflow: hidden;
        /* border: 1px solid green; */
    }
    
    .grid-item {
        display: flex;
        /* border: 1px solid green;    */
        font-weight: 100;     
    }

    #logo-bg {
        grid-row: 1 / span 3;
        grid-column: 1 / span 3;
        align-items: flex-start;
        justify-content: center;
        /* min-width: 0;
        min-height: 0; */
    }
    #logo-bg img {
        width: 57%;
        z-index: -7;
    }
    #left-rect {
        grid-row: 1 / span 2;
        grid-column: 1 / span 1;
        align-items: flex-start;
        justify-content: flex-start;
    }
    #left-rect img {
        width: 22%;
    }
    #right-rect {
        grid-row: 2 / span 2;
        grid-column: 3 / span 1;
        align-items: center;
        justify-content: flex-end;
    }
    #right-rect img {
        width: 22%;
    }
    #left-net {
        grid-row: 2 / span 2;
        grid-column: 1 / span 1;
        align-items: flex-end;
        justify-content: flex-start;
    }
    #left-net img {
        width: 70%;
        transform: scaleX(-1);
    }
    #right-net {
        grid-row: 1 / span 1;
        grid-column: 3 / span 1;
        align-items: flex-start;
        justify-content: flex-end;
    }
    #right-net img {
        width: 70%;
        transform: scaleY(-1);
    }
    #media {
        grid-row: 2 / span 2;
        grid-column: 2 / span 2;
        align-items: flex-end;
        justify-content: center;
    }

    .media-rows {
        position: absolute;
        display: flex;
        flex-direction: column;
        padding-left: 18vw;
        padding-bottom: 3vw;

    }
    .media-row-top {
        display: flex;
        justify-content: center;
    }
    .media-row-bot {
        display: flex;
        justify-content: center;      
    }
    .wrapper-image{
        min-width: 0;
        margin: 0.7em;
    }
    .wrapper-image img{
        width: 4vw;
        max-width: 100%; 
    }
    
    #mid {
        grid-row: 1 / span 3;
        grid-column: 2 / span 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #mid img {
        width: 35%;
        border-radius: 50%;
    }
    #mid .textWrapper-top{
        font-size: 4vw;
    }
    #mid .textWrapper-bot{
        font-size: 2vw;
    }
    #showcase {
        grid-row: 1 / span 1;
        grid-column: 1 / span 2;
        align-items: center;
        justify-content: center;
    }
    #showcase .textWrapper{
        display:flex;
        flex-direction: column;  
        align-items: center;
        justify-content: center;
        margin-right: 150px;
        margin-bottom: 150px;
    }
    #showcase .textWrapper-top{
        font-size: 5vw;
    }
    #showcase .textWrapper-bot{
        font-size: 4vw;
    }
}